ACCOUNT2_PRIVATE_KEY=d89382a564b22a517a95d9a7d960a3f9335ee77c0a840451a9339dfa300f1a2e
SEPOLIA_URL= https://sepolia.infura.io/v3/b982b822219149e2a6d7d82a0a75e91f
PINATA_JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlN2E2ODJiMi1jM2UzLTRkODYtYWVkNi0zOWY5YmE5NmI1MzgiLCJlbWFpbCI6InRhaW5kYS4yMWl0QHZrdS51ZG4udm4iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiZThmNTJjNmIzOTFhOWZlMGU0MTciLCJzY29wZWRLZXlTZWNyZXQiOiJkODkzODJhNTY0YjIyYTUxN2E5NWQ5YTdkOTYwYTNmOTMzNWVlNzdjMGE4NDA0NTFhOTMzOWRmYTMwMGYxYTJlIiwiZXhwIjoxNzc3NDcxNTI4fQ.cZu67Q00Ukw66qZugsoF3dL4tDKuxgNH2enmy1d4zn4
